  
header{
  background-color: #dbddd3;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}
.flex {
  display: flex;
}

.center {
  margin: 0px auto;
}
#conteneur-header {
  width: fit-content;
}
#titre-header {
  margin: 0px 0px 0px 15px;
  padding: 0px 0px 0px 15px;
  border-left: 1px solid black;
}
p {
    color: black;
  }

i {
  color: #501236;
}
h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
}
  
body {
  background-color: #dbddd3;
  font-family: 'Montserrat Subrayada', sans-serif;
font-family: 'Salsa', cursive;
}


body {
  margin-left: 25px;
}
#image-portrait {
  border-radius: 100%;
}

main {
  display: flex;
}

#efc {
  padding: 10px;
  width: 20%;
  border: 1px solid black;}

  #col-laterale 
  { 
    padding: 15px;
  }

  ul > li
  {list-style:inside;}

  #tel, #mail, #adresse 
  {
    list-style: none;
  }

  #tel:before, #mail:before, #adresse:before{
    content: "";
    background-size: 100%;
    width: 25px;
    height: 25px;
    position: absolute;
    margin: -2px 0 0 -30px;
  } 
  #tel:before {
    background-image: url(zebi/images/tel.png);

  }
  #mail:before {
    background-image: url(zebi/images/mail.png);
  }

  #adresse:before {
    background-image: url(zebi/images/adresse.png);
  }
  
  
  #contact{
    background-color: lightcoral;
    border: 3px solid brown ;
    width: fit-content;
    padding: 10px 40px;
    margin: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    border-radius: 20px;
    color: black;
    transition: 0,3s;

  }
#contact:hover{
  background-color: brown;
  border-color: lightcoral;
  color: white;
  transform: scale(1.05);
}
